<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet?text=Resources%20for%20protestors">Share on Twitter</a>

As I write this, it is June 2nd. I've just finished protesting for today in Houston. As I'm watching the #Houstonprotests tweets detailing police boxing in, and firing on, peaceful protestors who are following the family of George Floyd, the mental fatigue I've experienced from watching police fire on protestors for days (although I understand that this fatigue is nothing in comparison to that which Black people feel every time these injustices occur) has reached a peak. For my sanity I believe I have to stop updating the site for a few days, and I'm going to try and reduce my time spent watching protest footage. Please contact me if you'd like to contribute to the site, I would really hate for this awesome resource to go dry after only a few days. Thank you.
